.editor-page {
  background-color: #ffcdd2;
  padding: 4rem 0;
  min-height: 100vh;
}

.editor-page .sidebar {
  background-color: #ff8a80;
  padding: 1.5rem;
  border-radius: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editor-page .editor-area {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.editor-page h1 {
  color: #d32f2f;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
}

.editor-page .MuiButton-root {
  background-color: #d32f2f;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.editor-page .MuiButton-root:hover {
  background-color: #b71c1c;
}

/* Стили для Monaco Editor */
.monaco-editor {
  border: 1px solid #d32f2f !important;
  border-radius: 4px;
}

/* Стили для выпадающего списка языков */
select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #d32f2f;
  background-color: #ffcdd2;
  color: #d32f2f;
  font-weight: bold;
}

/* Стили для списка файлов */
.file-list-item {
  background-color: #ff8a80;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.file-list-item.selected {
  background-color: #f44336;
}

.file-list-item:hover {
  background-color: #ff8a80;
}

/* Стили для кнопки загрузки файлов */
#upload-file {
  display: none;
}